
.front {
  background: rgba(58, 58, 58, 0.95);
  width: 125vh;
  margin: 0 auto;
  height:auto;
  cursor: none;
  border-radius: 5px;
  position: relative;
  
}

/* cyrillic-ext */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    border: 3px solid white;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nYivN04w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    border: 3px solid white;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nRivN04w.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    border: 3px solid white;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nWivN04w.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    border: 3px solid white;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nbivN04w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    border: 3px solid white;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.game {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  background: rgb(255, 0, 0);
  cursor: none;
  overflow-x: hidden
}
header {
  margin: 0 auto;
  width: 431px;
  border: 3px solid black;
  background: black
}
.game h1 {
  background: url("../image/goblinset.png") 0% 340px;
  padding: 1.2rem 0;
  margin: 0;
  color: rgb(255, 0, 0);
  
}
.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #ff0000;
  
}

.game canvas {
  border: 3px solid black;
}


.cursor {
  width: 40px;/* on définit la zone du curseur personalisé*/
  height: 40px;
  border: 1px dashed rgb(255, 255, 255); /*on lui créé une borure en pointillé*/
  border-radius: 50%; /* le radius permet a la bordure de devenir un cercle*/
  position: absolute;
  
  pointer-events: none; /* sans ce code on ne pouurait pas selectionner le texte, copier coller etc*/
  z-index:23;
}

.cursor::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);				/* ici on crée le point au millieu du curseur*/
  width: 5px;
  height: 5px;
  background: crimson; 
  border-radius: 50%;
}

.default {
  animation: Anim1 1s infinite alternate; /* ici on dit que anim1 se repete a l'infini et que une fois l'animation achevé elle fait le chemin inverse et elle dure 1s*/
}

.focus {
  animation: anim3 1s infinite alternate ;

}

.expand {
  animation: Anim2 .5s; /* ici on dit que l'animation 2 dure 0.5 s */
  background: crimson;     
  border: 1px solid crimson; /* on crée une nouvelle qui viendra passer au dessus des autres*/
}
@keyframes Anim1 {
  from {
      transform: scale(1) rotate(0deg);  /*l'animation commence avec la taille de base ainsi que l'orientation par default*/
  }
  to {
      transform: scale(0.7) rotate(90deg);  /*au bout des 1s la bordure aura touné de 90deg  et se sera a 0.7x sa taille d'origine*/
  }
}

@keyframes Anim2 {
  0%{							/* à 0% de l'animation*/
      transform: scale(1);		/*scale 1 = sa taille d'origine*/
  }
  50%{						/* à 50% de l'animation*/
      transform: scale(2);		/*la bordure aura atteint 2x sa taille*/
  }
  100%{						/* à la fin de l'animation */
      transform: scale(1);		/*la bordure retrouve sa taille d'origine et devient transparente*/
      opacity:0;
  }
}

@keyframes anim3 {

0% {
  transform: scale(1) rotate(0deg);

}
50% {
  transform: scale(0.5) rotate(180deg)
}
100%
{
 transform: scale(0.5) rotate(360deg); 
}
}
